---

- name: Create jenkins scripts dir
  file:
    path:  "{{ jenkins_helper_scripts_dir }}"
    owner: "{{ jenkins_user }}"
    group: "{{ jenkins_group }}"
    mode:  0755
    state: directory

# With the current version of jenkins,jenkins-cli.jar is no longer shipped through jenkins.war.
# https://wiki.jenkins.io/display/JENKINS/Jenkins+CLI
- name: Extract Jenkins-cli
  get_url:
    url:   "http://localhost:8080/jnlpJars/jenkins-cli.jar"
    dest:  "{{ jenkins_helper_scripts_dir }}"
    owner: "{{ jenkins_user }}"
    group: "{{ jenkins_group }}"
    mode:  0644
